/* Webfont: OTTERO-Light */@font-face {
    font-family: 'tgl30sansserifthinLight';
    src: url('OTTERO-Light.woff2') format('woff2'), /* Modern Browsers */
         url('OTTERO-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

